body{margin: 0;font-family: 'Montserrat',sans-serif;font-size: 16px;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #ffff;}
img.logotipo{max-width:190px;height:auto;display:block;width:100%;}
h1{font-size: 35px;}a{text-decoration: none!important;}a{color:#212529 !important;}a.txtW{color:#002d74!important;}a.txtW:hover{color:#002d74;}
.pAbsolute{position:absolute;}.pRelative{position:relative;}ul.check{list-style:none;}
/*ESTILOS PARA SECCIONES*/
.title{color:#464646;}
.padd2{padding:20px 20px 30px}.padpw {padding: 10px 10px;}.padd3 {padding: 10px 0px 0px 0px;text-align: center;}
/*ESPACIADORES*/
.ml-f{margin-left: -20px;}
.barita {display: block;float: none;width: 70%;height: 3px;background-color: #ff6d10;margin-bottom: 20px;margin-left: 15%;}
/*TAMAÑO DE LOGOTIPOS E IMAGENES*/
.backcolor{background-color: red!important;}
.logo_footer{width: 150px;}
/*ESTILOS PARA IMAGEN DE FONDO*/
.he550{height:650px;}
.icon-asegura {width: 50px;margin: 5px auto;display: block;}
/*Tamaño letra span card*/
.textpromo{font-size: 12px;font-weight: bold;color:#00506e!important;font-style: italic;}
.font1{font-size: 12px;}
/*ESTILOS PARA HEADER*/
.tamaño_icon{width: 40%;margin-right: 65px;}.fone{display: block;margin-top: -19px;color: #fff !important;}.phone{width: 25px;margin-left: -35px;}
/*ESTILOS DE TEXTO Y TAMAÑO PARA CALL TO ACTION*/
.h2title{font-size: 18px;}.padd {padding: 10px 20px;}.fontpromo{font-size: 18px;}
/*ESTILOS PARA CARD QUE CONTIENE PROMOCIONES*/
.padd0{padding: 0;}.paddcard{padding: 5px;margin-left: 20px;}
.brderradius{border-radius:4px!important;border:none;}
.call-to-action {position: relative;background-color: #343a40;background: url("/img/fondo.jpg") no-repeat center center;background-size: cover;padding-top: 7rem;padding-bottom: 6rem;}
.call-to-action .overlay {position: absolute;background-color: #212529;height: 100%;width: 100%;top: 0;left: 0;opacity: 0.3;}
/*ESTILOS PARA DIFERENTES TAMAÑOS DE PIXELES DESKTOP AND MOVILE*/
.pRelative{position:relative;}
a {color: #464646;}
.phone{width:16px;height:16px;background:url(/img/phone-red.png);background-repeat:no-repeat;margin-top:1px;}
.f13{font-size: 13px;}
.margin-40{margin-left: 25%;}
.logo{width: 125px;height: auto;display: block;}
.cuarto-circulo{width: 54px;height: 228px;border-radius: 100px 100px 100px 100px;background:#464646;margin-left: 20px;transform: rotate(65deg);margin-top: -250px;padding: 0;position: absolute;}
.cuarto-circulo1{width: 54px;height: 185px;border-radius: 100px 100px 100px 100px;background: #464646;margin-left: 20px;transform: rotate(65deg);margin-top: -136px;margin-left: -10px;padding: 0;position: absolute;}
.cuarto-circulo_top {width: 44px;height: 285px;border-radius: 100px 100px 100px 100px;background:#842332;background-position-y: 0%;margin-left: -3px;transform: rotate(65deg);margin-top: -180px;padding: 0;position: absolute;background-position-y: top;z-index: 0;}
.cuarto-circulo_top1 {width: 44px;height: 355px;border-radius: 100px 100px 100px 100px;background:#842332;
margin-left: 20px;transform: rotate(65deg);margin-left: 30px;padding: 0;position: absolute;margin-top: -160px;z-index: 0;}
.btn-light{border-color: #f8f9fa;}
.m-lf{margin-left: -20px;}.m-lflogo{margin-left: 90px;}
.text_deco{display: block;float: none;width: 84%;height: 2px;background-color: #464646;}

.text_hi{font-size: 30px;font-weight: 700;color: #464646;margin-bottom: -5px;text-align: left;margin-top: 20px;}
.capa3{z-index: -3;display: block;}.capa4{z-index: 4;display: block;}
.colorAseg {background-image: linear-gradient(to left, #464646, #464646 50%, white 50%);background-attachment:fixed;background-repeat: no-repeat;}
.logo-2x{max-width: 190px !important;height: auto;width: auto !important;display: inline-block;margin-bottom: -20px;
}
.color_star{color:gold;font-size: 25px;margin-top: -10px;display: block;margin-bottom: -30px;text-decoration: none;}
.bol{color:black;font-size: 25px;}
.span_text{font-size: 12px;font-weight: 600;}
.blablabla{border-radius:8%;display:block;width:260px;background:white;height:140px;padding:60px 20px 0px;max-width:100%;}
.fsize{font-size:1.7rem;}
.back1{height: 730px;display: block;background-image: url(/img/car.svg);background-size: 33%;background-position: bottom center !important;background-repeat: no-repeat;margin-left: -170px;}
.back3{height: 550px;display: block;background-image: url(/img/flecha.png);background-size: 10%;background-position: center !important;background-repeat: no-repeat;margin-top: 161px;}
.new_p{font-size: 25px;width: 70%;color: #777;}

@media(min-width:1601px) and (max-width:4000px){
.back1{height: 730px;display: block;background-size: 25%;margin-left: -206px;}
.back3{height: 550px;display: block;background-size: 10%;}
.logo-2x{max-width:230px!important;height:auto;width:auto!important;margin: 130px 0 -10px 0;display:inline-block;}
}
@media(min-width:1201px) and (max-width:1600px){
.back1{height: 730px;display: block;background-size: 33%;margin-left: -170px;}
.back3{height: 550px;display: block;background-size: 10%;}
.logo-2x{max-width:200px!important;height:auto;width:auto!important;margin: 108px 0 -9px 0;display:inline-block;}
}

@media(min-width:1024px) and (max-width:1200px){
.colorAseg {background-image: linear-gradient(to left, #464646, #464646 50%, white 10%);background-attachment:fixed;background-repeat: no-repeat;}
.logo-2x{max-width:200px!important;height:auto;width:auto!important;margin: 100px 0 -10px 0;display:inline-block;}
.m-lf{margin-left: -78px;}
.text_hi{font-size: 25px;}
.p_subtitle{font-size: 15px;}
.back1{height: 708px;display: block;background-size: 40%;margin-left: -170px;}
.back3{height: 580px;display: block;background-size: 15%;}
}
@media(min-width:901px) and (max-width:1024px){
.colorAseg {background-image: linear-gradient(to left, #464646, #464646 58%, white 10%);background-attachment:fixed;background-repeat: no-repeat;}
.padd {padding: 10px 0px;}.m-lf{margin-left: -60px;}.mlmovile{margin-left: -15px;}.mleftrate{margin-left: -40px;}.span_text{font-size: 10px;}.bol{font-size: 18px;}.color_star{margin-top: -10px;}
.logo-2x{max-width:190px!important;height: auto;display: inline-block;margin: 85px 0 -10px 0;}
.m-lf{margin-left: -78px;}.text_hi{font-size: 19px;}.p_subtitle{font-size: 11px;}
.back1{height: 718px;display: block;background-size: 38%;margin-left: -241px;}
.back3{height: 689px;display: block;background-size: 13%;margin-left: -97px;}
.cuarto-circulo {width: 34px;height: 164px;margin-left: 20px;margin-top: -300px;}
.cuarto-circulo1 {width: 34px;height: 185px;margin-left: 20px;margin-top: -246px;margin-left: -10px;}
.cuarto-circulo_top {width: 34px;height: 253px;background-position-y: 0%;background-position-y: 0%;margin-left: 47px;margin-top: -150px;padding: 0;position: absolute;background-position-y: top;z-index: 0;}
.cuarto-circulo_top1 {width: 34px;height: 355px;margin-left: 20px;transform: rotate(65deg);margin-left: 100px;padding: 0;position: absolute;margin-top: -170px;z-index: 0;}
}
@media(min-width:801px) and (max-width:900px){
.marginform{margin-left: 8%;}
.colorAseg {background-image: linear-gradient(to left, #464646, #464646 58%, white 10%);background-attachment:fixed;background-repeat: no-repeat;}
.padd {padding: 10px 0px;}.m-lf{margin-left: -60px;}.mlmovile{margin-left: -15px;}.mleftrate{margin-left: -40px;}.span_text{font-size: 9px;}.bol{font-size: 18px;}.color_star{margin-top: -5px;margin-bottom: -35px;}
.text_hi{font-size: 19px;}
.p_subtitle{font-size: 15px;}.logo-2x{max-width:160px !important;height: auto;display: inline-block;margin: 85px 0 -10px 0;}
.back1{height: 708px;background-size: 36%;margin-left: -206px;margin-top: -40px;}
.back3{height: 550px;background-size: 12%;margin-top: 230px;margin-left: -70px;}
.cuarto-circulo {width: 34px;height: 164px;margin-left: 20px;margin-top: -328px;}
.cuarto-circulo1 {width: 34px;height: 185px;margin-left: -10px;margin-top: -270px;}
.cuarto-circulo_top {width: 34px;height: 253px;background-position-y: 0%;margin-left: 47px;margin-top: -150px;padding: 0;position: absolute;background-position-y: top;z-index: 0;}
.cuarto-circulo_top1 {width: 34px;height: 355px;margin-left: 20px;margin-left: 100px;padding: 0;position: absolute;margin-top: -170px;z-index: 0;}
}
@media(min-width:769px) and (max-width:800px){
 body{font-size: 85%;}.title{font-size: 23px;}h2{font-size: 23px;}h3{font-size: 23px;}h4{font-size: 20px;}
.colorAseg {background-image: linear-gradient(to left, #464646, #464646 60%, white 60%);background-attachment:fixed;background-repeat: no-repeat;}
.padd {padding: 10px 0px;}
/*estilos de encabezado */
.m-lf{margin-left: -60px;}.mlmovile{margin-left: -15px;}.mleftrate{margin-left: -40px;}.span_text{font-size: 9px;}.bol{font-size: 18px;}.color_star{margin-top: -5px;}
.text_hi{font-size: 19px;}.p_subtitle{font-size: 12px;}
.back1{height: 708px;display: block;background-size: 45%;margin-left: -189px;}
.back3{height: 550px;display: block;background-size: 12%;margin-top: 230px;margin-left: -70px;}
.logo-2x{max-width: 190px !important;height: auto;width: auto !important;display: inline-block;margin-top: 85px;}
.cuarto-circulo {width: 34px;height: 164px;margin-left: 20px;transform: rotate(65deg);margin-top: -300px;}
.cuarto-circulo1 {width: 34px;height: 185px;margin-left: 20px;transform: rotate(65deg);margin-top: -246px;margin-left: -10px;}
.cuarto-circulo_top {width: 34px;height: 253px;background-position-y: 0%;margin-left: 47px;transform: rotate(65deg);margin-top: -150px;padding: 0;position: absolute;background-position-y: top;z-index: 0;}
.cuarto-circulo_top1 {width: 34px;height: 355px;margin-left: 20px;transform: rotate(65deg);margin-left: 100px;padding: 0;position: absolute;margin-top: -170px;z-index: 0;}
.sizeMobile{font-size: 20px;text-align: center;font-weight: 400;margin-bottom: -80px;margin-top: 125px;}
}
@media(min-width:600px) and (max-width:768px){
 body{font-size: 85%;}.title{font-size: 23px;}h2{font-size: 23px;}h3{font-size: 23px;}h4{font-size: 20px;}h6{font-size: 14px;margin-top: 10px;}
img.logotipo {max-width: 158px;}
.colorAseg {background:#464646;}.he550{height:650px;}.he550thank{height: 420px;}
.m-lf{margin-left: -60px;}.text_hi{font-size: 21px;}
.logo-2x{max-width: 100px !important;height: auto;width: auto !important;margin: -54px 2px -28px;display: inline-block;}
.sizeMobile{font-size: 17px;text-align: center;font-weight: 400;margin-bottom: -75px;margin-top: 90px;}
}
@media(min-width:481px) and (max-width:599px){
 body{font-size: 85%;}.title{font-size: 23px;}h2{font-size: 23px;}h3{font-size: 23px;}h4{font-size: 20px;}h6{font-size: 14px;margin-top: 10px;}
 img.logotipo {width: 140px;height: auto;display: block;}
.colorAseg {background:#464646;}.he550{height:610px;}
.logo-2x{max-width: 83px !important;height: auto;width: auto !important;margin: 16px 2px 31px;display: inline-block;}
.sizeMobile{font-size: 17px;text-align: center;font-weight: 400;margin-bottom: -55px;margin-top: 90px;}
.f13{font-size: 12px!important;}.back2{height: 260px;}
.phone{background-position: right;background-size: contain;}form-control
/*Style thanks*/
.he550thank{height: 520px;}
}
@media(min-width:320px) and (max-width:480px){
 body{font-size: 85%;}.title{font-size: 23px;}h2{font-size: 23px;}h3{font-size: 23px;}h4{font-size: 20px;}h6{font-size: 14px;margin-top: 10px;}
img.logotipo {width: 140px;height: auto;display: block;margin-left: -20px;margin-top: -10px;}
.colorAseg {background:#464646;}.he550{height:580px;}
.logo-2x {max-width: 79px !important;height: auto;width: auto !important;margin: 5px 2px 15px;display: inline-block;}
.sizeMobile {font-size: 17px;text-align: center;font-weight: 400;margin-bottom: -55px;margin-top: 65px;}
.f13{font-size: 10px!important;}.telsize{width: 12px;}.back2{height: 260px;}
.margin-40{margin-left: 10px;}.checktext{font-size: 11px;}
form-control
    .phone {width: 20px;margin-left: -27px;}
  .logo_footer {width: 120px;margin-bottom: 10px;}
/*Style thanks*/
.he550thank{height: 520px;}
}
@media(min-width:240px) and (max-width:319px){
body{font-size: 75%;}.title{font-size: 20px;}h2{font-size: 20px;}h3{font-size: 20px;}h4{font-size: 20px;}h6{font-size: 13px;margin-top: 10px;}
img.logotipo {width: 130px;height: auto;display: block;margin-left: -19px;margin-top: -10px;}.telsize{width: 12px;}
.colorAseg {background:#464646;}.pdnone{padding-left: 0px;padding-right: 0px;}.he550{height:590px;}
.logo-2x {max-width: 79px !important;height: auto;width: auto !important;margin: 5px 2px 15px;display: inline-block;}
.sizeMobile {font-size: 17px;text-align: center;font-weight: 400;margin-bottom: -45px;margin-top: 75px;}
.f13{font-size: 10px!important;}.back2{height: 260px;}
.margin-40{margin-left: 10px;}.checktext{font-size: 9px;}
form-control
 .logo_footer {width: 120px;margin-bottom: 10px;}
.condu {max-width: 110px;}
.color_star1{font-size: 22px;}
/*Style thanks*/
.he550thank{height: 520px;}
}