<template>
<div>
	 <div class="w-100 py-5"></div>
      <div class="w-100 py-5"></div>
      <footer>
         <div class="container-fluid bg-secondary">
            <div class="row">
                  <div class="card-body">
                    <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12"><img src="/img/mejorseguro.svg" width="150"></div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">Link</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">Link</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">Link</div>
                 </div>
               </div>
            </div>
         </div>
      </footer>
        <div class="container-fluid" style="background-color: #dfddde;">
      <div class="row">
      <div class="col-12">
                     <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert" style="background-color: #dfddde;border:none;">
  <strong>ADS</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

              </div>
          </div>
      </div>
</div>
</template>