<template>
	<div>
	<section class="mt-5">
		<div class="w-100 py-3"></div>
		<div class="container-fluid">
			<div class="row">
	        <div class="col-12 py-3">
            <h2 class="text-left mb-0">Beneficios exclusivos al contratar tu seguro de auto</h2>
         </div>
         <div class="col-lg-12">
            <div class="card card-body">
               <div class="media p-3">
                  <img class="mr-3" src="img/card.svg" width="90">
                  <div class="media-body">
                     <h5 class="text-left">Lorem ipsum dolor sit amet amet, consectetur adipiscing elit</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua labore et dolore magna aliqua.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua labore et dolore magna aliqua.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua labore et dolore magna aliqua.</p>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 col-sm-12 col-12">
                     <div class="media p-3">
                        <img class="mr-3" src="img/card.svg" width="90">
                        <div class="media-body">
                           <h5 class="text-left titlebeneficios">Beneficios hasta 6 y 12 Meses Sin Intereses</h5>
                           <p><a class="text-left comparacolor" href="/" style="text-decoration: none;"><b>Conocer mas  ></b> </a></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-12">
                     <div class="media p-3">
                        <img class="mr-3" src="img/card.svg" width="90">
                        <div class="media-body">
                           <h5 class="text-left titlebeneficios">Beneficios hasta 6 y 12 Meses Sin Intereses</h5>
                           <p><a class="text-left comparacolor" href="/" style="text-decoration: none;"><b>Conocer mas  > </b></a></p>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
	</div>
    </div>
	</section>
	 <section class="call-to-action mt-5 text-white text-center">
         <div class="overlay"></div>
         <div class="container">
            <div class="row">
               <div class="col-xl-9 mx-auto mt-5 mb-5">
                <h2 class="mb-4">Compara Ya</h2>
                     <span>With supporting text below as a natural lead-in to additional content</span><br>
                     <span>With supporting text below as a natural lead-in to additional content</span>
                     <p class="text-center">natural lead-in to additional content</p>
                     <button type="button" class="text-center btn btn-success">Mas Informacion</button>
               </div>
            </div>
         </div>
      </section>
            <section class="mt-5">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-3">
                  <div class="card text-center">
                     <div class="card-body cardheight">
                        <div class="card-header fondoheader">
                           <p class="mb-0">Top 5 más Solicitadas</p>
                           <p class="fontsubtext mb-0">Conoce las tarjetas mas solicitadas en méxico</p>
                        </div>
                        <ol style="list-style: none;padding: 10px;" class="mt-2">
                           <li>
                              <div class="media p-0">
                                 <span class="badge badge-primary badge-pill mr-3 mt-2"> A </span> <img src="img/card.svg" class="mr-3 mt-0" style="width:60px;">
                                 <div class="media-body">
                                    <h5 class="text-left titlebeneficios">Beneficios hasta 6 y 12 Meses Sin Intereses</h5>
                                    <p><a class="text-left comparacolor" href="/" style="text-decoration: none;"><b>Mas informacion</b> </a></p>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="media p-0">
                                 <span class="badge badge-primary badge-pill mr-3 mt-2"> B </span> <img src="img/card.svg" class="mr-3 mt-0" style="width:60px;">
                                 <div class="media-body">
                                    <h5 class="text-left titlebeneficios">Beneficios hasta 6 y 12 Meses Sin Intereses</h5>
                                    <p><a class="text-left comparacolor" href="/" style="text-decoration: none;"><b>Mas informacion</b> </a></p>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="media p-0">
                                 <span class="badge badge-primary badge-pill mr-3 mt-2"> C </span> <img src="img/card.svg" class="mr-3 mt-0" style="width:60px;">
                                 <div class="media-body">
                                    <h5 class="text-left titlebeneficios">Beneficios hasta 6 y 12 Meses Sin Intereses</h5>
                                    <p><a class="text-left comparacolor" href="/" style="text-decoration: none;"><b>Mas informacion</b> </a></p>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="media p-0">
                                 <span class="badge badge-primary badge-pill mr-3 mt-2"> D </span> <img src="img/card.svg" class="mr-3 mt-0" style="width:60px;">
                                 <div class="media-body">
                                    <h5 class="text-left titlebeneficios">Beneficios hasta 6 y 12 Meses Sin Intereses</h5>
                                    <p><a class="text-left comparacolor" href="/" style="text-decoration: none;"><b>Mas informacion</b> </a></p>
                                 </div>
                              </div>
                           </li>
                        </ol>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9">
                  <div class="card">
                     <div class="card-body">
                        <div class="mt-2">
                           <h5 class="text-left"><strong>Lorem ipsum dolor</strong></h5>
                           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam  Ut enim ad minim veniam 
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="mt-5">
                     <div class="card" style="background-color: #dfddde;">
                        <div class="card-body">
                           <h2 class="text-center" style="color: #c5c5c5;">ADS</h2>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      	<section class="mt-5">
		<div class="w-100 py-3"></div>
		<div class="container-fluid">
			<div class="row">
         <div class="col-lg-12">
            <div class="card card-body">
               <div class="media p-3">
                  <img class="mr-3" src="img/card.svg" width="90">
                  <div class="media-body">
                     <h5 class="text-left">Lorem ipsum dolor sit amet amet, consectetur adipiscing elit</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua labore et dolore magna aliqua.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua labore et dolore magna aliqua.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua labore et dolore magna aliqua.</p>
                  </div>
               </div>
            </div>
         </div>
	</div>
    </div>
	</section>
	</div>
</template>
