<template>
   <div class="section_color">
    <div class="container-fluid" style="background-color: #dfddde;">
   	<div class="row">
    	<div class="col-12">
                     <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert" style="background-color: #dfddde;border:none;">
  <strong>ADS</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

              </div>
          </div>
      </div>
    <div class="container-fluid pAbsolute capa4 mt-3">
      <div class="container">
     <div class="row ">   
            <div class="col-6 col-sm-6 col-md-3 mb-2 text-center">
             <img class="logotipo d-none d-sm-none d-md-block mlmovile" src="/img/mejor-seguro-de-auto_black.png">
             <img class="logotipo d-sm-block d-md-none" src="/img/mejorseguro.svg">
              </div>
              <div class="col-6 col-sm-6 col-md-3 mb-2 text-center d-none d-sm-none d-md-block mleftrate"> 
              <p class="label_star color_star"> &#9733; <span class="bol">4.5</span></p>
              <br>
              <span class="span_text">MEJOR CALIFICADO</span>
              </div>
            

             <div class="col-6 col-sm-6 col-md-3 mb-0 text-center text-white d-none d-sm-none d-md-block"> 
             
              </div>     
              <div class="col-6 col-sm-6 col-md-3 text-center">
              <div class="btn btn-light margin-40">
              <a  href="/" class="center f13"><img src="/img/phone.png" class="mr-1 telsize" /> </a>
              </div>
              </div>
      </div>
    </div>
    </div>
 
  <div class="container-fluid">
    <section>
      <div class="row contenier_position colorAseg">
          <div class="d-none d-sm-none d-md-block col-lg-12 capa2 pAbsolute back1 ovehidden pcero">
        </div>
       
          <div class="d-none d-sm-none d-md-block col-lg-12 capa2 pAbsolute back3 ovehidden pcero">
        </div>
        <div class="col-lg-12 capa2 he550">
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-3 col-xs-12 offset-lg-1 d-none d-md-block m-lflogo">

              <div class="mab text-white mt-0">
                <div class="text-white padd">
                  <br/>
                  <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 m-lf">
                    <img class="logo-2x" src="/img/axa.svg" alt="seguros">
                    <h1 class="text_hi">Cotiza axa Seguros Autos</h1>
                     <p class="p_subtitle">Cotiza y contrata en 5 minutos</p>
                  </div>
                </div>
              </div>
              </div>
            </div>

            <!--;;;;;;::::::::::::::::::::::formulario;;;;;;,;;;;;,-->

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 offset-lg-1 formu">
              <div class="">
   
<div class="row d-sm-block d-lg-none d-md-none capa2">
                  <div class="col-12 ">
<h2  class="text-white sizeMobile">Cotiza Seguros axa</h2>
        
                  </div>
                </div>
                <div class="col-12 marginform">
                  <br>
                  <br>
                  <br>
                  <div class="cuarto-circulo_top d-none"></div>
                  <div class="cuarto-circulo_top1 d-none"></div>
              
                  <div class="" id="formAutos">
                     <form id="formcotizar" method="POST">
    <div class="col-md-12 mb-2 d-none d-sm-block">
      <br>
      <div class="text-white text-center d-none d-sm-none d-md-block"> Cotiza el mejor seguro para ti</div>
    </div>
    <!-- marca -->
    <div class="row">
      <div class="col mat">
        <div class="input-group mb-2">
          <select name="marca" id="marca" class="form-control">
            <option value="">Marca</option>
          </select>
        </div>
      </div>
      <!-- modelo -->
      <div class="col mat">
        <div class="input-group mb-2">
          <select name="modelo" id="modelo" class="form-control">
            <option value="">Modelo</option>
          </select>
        </div>
      </div>
    </div>

    <!-- descripcion -->
    <div class="row">
      <div class="col mat">
        <div class="input-group mb-2">
          <select name="descripcion" id="descripcion" class="form-control">
            <option value="">Submarca</option>
          </select>
        </div>
      </div>
      <!-- subDescripcion -->
      <div class="col mat">
        <div class="input-group mb-2">
          <select name="subDescripcion" id="subDescripcion" class="form-control">
            <option value="">Descripción</option>
            <option value="">LZ</option>
            <option value="">LTZ</option>
          </select>
        </div>
      </div>
    </div>


    <!-- detalle -->
    <div class="row">
      <div class="col mat">
        <div class="input-group mb-2">
          <select name="detalleid" id="detalleid" class="form-control">
            <option value="">Detalle</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mat">
        <div class="input-group mb-2">
          <input name="nombre" id="nombre" class="form-control" maxlength="25" type="text" placeholder="Nombre(s)"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mat">
        <div class="input-group mb-2">
          <input name="apellidoPaterno" id="apellidoPaterno" class="form-control" maxlength="25" type="text" placeholder="Apellido paterno"/>
        </div>
      </div>
      <div class="col mat">
        <div class="input-group mb-2">
          <input name="apellidoMaterno" id="apellidoMaterno" class="form-control" maxlength="25" type="text" placeholder="Apellido materno"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mat">
        <div class="input-group mb-2">
          <input name="telefono" id="telefono" class="form-control" type="number" placeholder="Teléfono" />
        </div>
      </div>
      <div class="col mat">
        <div class="input-group mb-2">
          <input name="correo" id="correo" class="form-control" maxlength="100" type="email" placeholder="Correo electrónico"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mat">
        <div class="input-group mb-2">
          <select name="genero" class="form-control" id="genero">
            <option value="">Género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>

          </select>
        </div>
      </div>
      <div class="col mat">
        <div class="input-group mb-2">
          <input name="codigoPostal" id="codigoPostal" class="form-control" maxlength="5" type="number" placeholder="Código postal"/>
        </div>
      </div>
    </div>
    <!-- edad -->
    <div class="row">
      <div class="col-lg-12 mat">
        <div class="input-group mb-2">
          <select  class="form-control">
            <option value="">Edad</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>
        </div>
      </div>
    </div>

    <!-- submit -->
    <div class="">
       <div class="co-lg-12 text-center">
      <a href="axa/gracias" id="btnCotizarAuto" type="submit" class="text-white btn btn-success"><strong>
        Cotiza gratis </strong>  <img class="img-fluid chevron" src="/img/chevron1.png">
      </a>
  </div>
    </div>
  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="d-none d-sm-none d-md-block cuarto-circulo"></div>
           <div class="d-none d-sm-none d-md-block cuarto-circulo1"></div>

    
        </div>
      </div>

    </section>
  </div>

    <axa-content/>
</div>
</template>

<script>
import AxaContent from '~/components/content/AxaContent.vue'
export default {
  components: {
    AxaContent
  },
   head() {
      return {
        title: 'Axa Seguros - Cotiza Seguros de autos axa - Seguros axa',
        meta: [
          {hid: 'axa Seguros', name: 'keywords', content: 'axa, axa Seguros, Seguros axa, axa Seguros de autos, Seguros de autos axa, axa Seguros Autos, axa en México, axa Seguros México.'},
          {hid: 'description', name: 'description', content: ' Contrata con axa Seguros y Ahorra hasta $2,400 en tu póliza. Cotiza en 1 Minuto Seguros de autos axa al mejor precio.'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: '@ivandesignMx | @DanCuevas'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://axasegurosautos.com'}
        ],
      }
    }
};
</script>


