<template>
  <form id="formcotizar" method="POST">
    <div class="col-md-12 mb-2 d-none d-sm-block">
      <br>
      <div class="text-white fp colorlogo text-center d-none d-sm-none d-md-block"> Cotiza el mejor seguro para ti</div>
    </div>
    <!-- marca -->
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select name="marca" id="marca" class="custom-select brderradius he45">
            <option value="">Marca</option>
          </select>
        </div>
      </div>
      <!-- modelo -->
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select name="modelo" id="modelo" class="custom-select">
            <option value="">Modelo</option>
          </select>
        </div>
      </div>
    </div>

    <!-- descripcion -->
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select name="descripcion" id="descripcion" class="custom-select">
            <option value="">Submarca</option>
          </select>
        </div>
      </div>
      <!-- subDescripcion -->
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select name="subDescripcion" id="subDescripcion" class="custom-select">
            <option value="">Descripción</option>
            <option value="">LZ</option>
            <option value="">LTZ</option>
          </select>
        </div>
      </div>
    </div>


    <!-- detalle -->
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select name="detalleid" id="detalleid"  class="custom-select">
            <option value="">Detalle</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <input name="nombre" id="nombre" class="input-group" maxlength="25" type="text" placeholder="Nombre(s)"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <input name="apellidoPaterno" id="apellidoPaterno" class="input-group" maxlength="25" type="text" placeholder="Apellido paterno"/>
        </div>
      </div>
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <input name="apellidoMaterno" id="apellidoMaterno" class="input-group" maxlength="25" type="text" placeholder="Apellido materno"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <input name="telefono" id="telefono" class="input-group" type="number" placeholder="Teléfono" />
        </div>
      </div>
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <input name="correo" id="correo" class="input-group" maxlength="100" type="email" placeholder="Correo electrónico"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select name="genero" class="custom-select" id="genero">
            <option value="">Género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>

          </select>
        </div>
      </div>
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <input name="codigoPostal" id="codigoPostal" class="input-group" maxlength="5" type="number" placeholder="Código postal"/>
        </div>
      </div>
    </div>
    <!-- edad -->
    <div class="row">
      <div class="col-lg-12 mat">
        <div class="input-group input_group mb-2">
          <select  class="custom-select">
            <option value="">Edad</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>
        </div>
      </div>
    </div>

    <!-- submit -->
    <div class="row">

      <button id="btnCotizarAuto" type="submit" class="btn btn-success"><strong>
        Cotiza gratis </strong>  <img class="img-fluid chevron" src="/img/chevron1.png">
      </button>
    </div>
  </form>
</template>

